/* App.css */
.app-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #87000A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #650007;
  }
  
  button:focus {
    outline: none;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  